<a href="https://colab.research.google.com/github/mdishaq33/numpy/blob/main/credit_card_fraud_detector_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project Intro:
Title: Credit Card Fraud Pattern Detector (Rule-Based)
Goal: Identify unusual/suspicious spending patterns using NumPy filters.

Final Output:
List of suspicious transaction IDs

Total suspicious amount

Stats like average, max, and count of flagged transactions

But you can simulate basic rule-based detection like:

Suspicious transactions (very high/low values)

Too many transactions in short time

Repeated same amount

Spending outside usual range

In [ ]:
import numpy as np

# Number of transactions
n = 100

# Generate Transaction IDs (T1001, T1002, ...)
transaction_ids = np.array([f"T{1000 + i}" for i in range(n)])

# Random amounts between ₹100 and ₹10000
amounts = np.random.randint(100, 10000, size=n)

# Location codes (assume 5 regions)
locations = np.random.randint(1, 6, size=n)

# Time in 24hr format (0 to 23)
times = np.random.randint(0, 24, size=n)

# Stack into one structured format (optional view)
for i in range(n):
    print(f"{transaction_ids[i]} | ₹{amounts[i]} | Location: {locations[i]} | Hour: {times[i]}")

T1000 | ₹5638 | Location: 2 | Hour: 14
T1001 | ₹2951 | Location: 2 | Hour: 7
T1002 | ₹9418 | Location: 4 | Hour: 14
T1003 | ₹2019 | Location: 5 | Hour: 14
T1004 | ₹3748 | Location: 2 | Hour: 12
T1005 | ₹2667 | Location: 1 | Hour: 15
T1006 | ₹8670 | Location: 2 | Hour: 18
T1007 | ₹6787 | Location: 5 | Hour: 6
T1008 | ₹6472 | Location: 3 | Hour: 2
T1009 | ₹734 | Location: 4 | Hour: 18
T1010 | ₹8032 | Location: 2 | Hour: 10
T1011 | ₹1525 | Location: 4 | Hour: 19
T1012 | ₹157 | Location: 1 | Hour: 22
T1013 | ₹4804 | Location: 2 | Hour: 13
T1014 | ₹2610 | Location: 2 | Hour: 14
T1015 | ₹9874 | Location: 5 | Hour: 8
T1016 | ₹7352 | Location: 1 | Hour: 7
T1017 | ₹5829 | Location: 5 | Hour: 7
T1018 | ₹6526 | Location: 4 | Hour: 23
T1019 | ₹4098 | Location: 5 | Hour: 22
T1020 | ₹4447 | Location: 2 | Hour: 8
T1021 | ₹1341 | Location: 1 | Hour: 20
T1022 | ₹9601 | Location: 3 | Hour: 15
T1023 | ₹3812 | Location: 3 | Hour: 18
T1024 | ₹5863 | Location: 4 | Hour: 2
T1025 | ₹6270 | Location: 2 | Hour: 20
T1026 | ₹3770 | Location: 5 | Hour: 10
T1027 | ₹5983 | Location: 3 | Hour: 9
T1028 | ₹1521 | Location: 5 | Hour: 7
T1029 | ₹1819 | Location: 5 | Hour: 19
T1030 | ₹8280 | Location: 1 | Hour: 22
T1031 | ₹6235 | Location: 5 | Hour: 15
T1032 | ₹5160 | Location: 4 | Hour: 22
T1033 | ₹8654 | Location: 5 | Hour: 10
T1034 | ₹3451 | Location: 1 | Hour: 2
T1035 | ₹8112 | Location: 1 | Hour: 15
T1036 | ₹891 | Location: 2 | Hour: 22
T1037 | ₹8842 | Location: 1 | Hour: 16
T1038 | ₹1186 | Location: 4 | Hour: 0
T1039 | ₹9888 | Location: 4 | Hour: 3
T1040 | ₹9252 | Location: 3 | Hour: 1
T1041 | ₹2923 | Location: 1 | Hour: 12
T1042 | ₹202 | Location: 2 | Hour: 23
T1043 | ₹8050 | Location: 3 | Hour: 16
T1044 | ₹743 | Location: 2 | Hour: 23
T1045 | ₹8951 | Location: 1 | Hour: 9
T1046 | ₹2875 | Location: 2 | Hour: 21
T1047 | ₹996 | Location: 4 | Hour: 7
T1048 | ₹4867 | Location: 4 | Hour: 23
T1049 | ₹3966 | Location: 3 | Hour: 11
T1050 | ₹4141 | Location: 5 | Hour: 14
T1051 | ₹2818 | Location: 2 | Hour: 7
T1052 | ₹273 | Location: 3 | Hour: 17
T1053 | ₹6891 | Location: 4 | Hour: 15
T1054 | ₹3074 | Location: 2 | Hour: 6
T1055 | ₹3826 | Location: 5 | Hour: 18
T1056 | ₹3751 | Location: 3 | Hour: 12
T1057 | ₹4507 | Location: 5 | Hour: 10
T1058 | ₹297 | Location: 1 | Hour: 23
T1059 | ₹2718 | Location: 4 | Hour: 1
T1060 | ₹4880 | Location: 1 | Hour: 5
T1061 | ₹3296 | Location: 1 | Hour: 23
T1062 | ₹1110 | Location: 2 | Hour: 12
T1063 | ₹6744 | Location: 1 | Hour: 18
T1064 | ₹4501 | Location: 3 | Hour: 20
T1065 | ₹2002 | Location: 4 | Hour: 21
T1066 | ₹9887 | Location: 5 | Hour: 18
T1067 | ₹4658 | Location: 1 | Hour: 8
T1068 | ₹8275 | Location: 4 | Hour: 22
T1069 | ₹8408 | Location: 5 | Hour: 11
T1070 | ₹5400 | Location: 2 | Hour: 18
T1071 | ₹8798 | Location: 2 | Hour: 8
T1072 | ₹1758 | Location: 1 | Hour: 7
T1073 | ₹5339 | Location: 1 | Hour: 10
T1074 | ₹1972 | Location: 5 | Hour: 14
T1075 | ₹8481 | Location: 3 | Hour: 16
T1076 | ₹2112 | Location: 4 | Hour: 17
T1077 | ₹1950 | Location: 1 | Hour: 18
T1078 | ₹3333 | Location: 4 | Hour: 13
T1079 | ₹6026 | Location: 2 | Hour: 17
T1080 | ₹329 | Location: 4 | Hour: 0
T1081 | ₹8927 | Location: 5 | Hour: 1
T1082 | ₹5766 | Location: 5 | Hour: 12
T1083 | ₹3537 | Location: 3 | Hour: 12
T1084 | ₹1243 | Location: 1 | Hour: 3
T1085 | ₹1704 | Location: 4 | Hour: 12
T1086 | ₹9305 | Location: 3 | Hour: 17
T1087 | ₹463 | Location: 1 | Hour: 14
T1088 | ₹6861 | Location: 4 | Hour: 12
T1089 | ₹5516 | Location: 2 | Hour: 12
T1090 | ₹977 | Location: 4 | Hour: 23
T1091 | ₹994 | Location: 1 | Hour: 17
T1092 | ₹5108 | Location: 5 | Hour: 9
T1093 | ₹5233 | Location: 3 | Hour: 16
T1094 | ₹8284 | Location: 2 | Hour: 12
T1095 | ₹2170 | Location: 5 | Hour: 22
T1096 | ₹8917 | Location: 1 | Hour: 0
T1097 | ₹8261 | Location: 2 | Hour: 7
T1098 | ₹2792 | Location: 1 | Hour: 22
T1099 | ₹6817 | Location: 4 | Hour: 20

Step 2: Apply Fraud Detection Rules
Let’s define simple rules to flag transactions:

Rules:
High-value transactions: Amount > ₹8000

Odd-hour transactions: Time between 0 AM – 4 AM

Both conditions together = HIGH RISK

In [ ]:
high_amount=amounts>8000
odd_hour = (times >= 0) & (times <= 4)
high_risk=high_amount+odd_hour
print("high risk transactions")
for i in range(n):
  if high_risk[i]:
    print(f"{transaction_ids[i]} | {amounts[i]} | {locations [i]} | {times[i]}")

high risk transactions
T1002 | 9418 | 4 | 14
T1006 | 8670 | 2 | 18
T1008 | 6472 | 3 | 2
T1010 | 8032 | 2 | 10
T1015 | 9874 | 5 | 8
T1022 | 9601 | 3 | 15
T1024 | 5863 | 4 | 2
T1030 | 8280 | 1 | 22
T1033 | 8654 | 5 | 10
T1034 | 3451 | 1 | 2
T1035 | 8112 | 1 | 15
T1037 | 8842 | 1 | 16
T1038 | 1186 | 4 | 0
T1039 | 9888 | 4 | 3
T1040 | 9252 | 3 | 1
T1043 | 8050 | 3 | 16
T1045 | 8951 | 1 | 9
T1059 | 2718 | 4 | 1
T1066 | 9887 | 5 | 18
T1068 | 8275 | 4 | 22
T1069 | 8408 | 5 | 11
T1071 | 8798 | 2 | 8
T1075 | 8481 | 3 | 16
T1080 | 329 | 4 | 0
T1081 | 8927 | 5 | 1
T1084 | 1243 | 1 | 3
T1086 | 9305 | 3 | 17
T1094 | 8284 | 2 | 12
T1096 | 8917 | 1 | 0
T1097 | 8261 | 2 | 7

Step 3: Summarize Fraud Detection Results

In [ ]:
# Total high-risk transactions
total_high_risk = np.sum(high_risk)
print("Total High-Risk Transactions:", total_high_risk)

# Total amount involved
total_amount_flagged = np.sum(amounts[high_risk])
print("Total Amount Flagged: ₹", total_amount_flagged)

# Average value of flagged transactions
avg_flagged = np.mean(amounts[high_risk]) if total_high_risk > 0 else 0
print("Average Flagged Transaction: ₹", round(avg_flagged, 2))

Total High-Risk Transactions: 30
Total Amount Flagged: ₹ 224429
Average Flagged Transaction: ₹ 7480.97